@reference "../../../index.css";

.preview-layout {
  .profile-card {
    @apply relative z-10 bg-white min-h-dvh
    flex flex-col
    md:bg-transparent md:p-24;
  }
  .profile-card__header {
    @apply bg-white
    px-24 py-16
    md:rounded-12;
  }
  .profile-card__navigation {
    @apply flex items-center justify-between gap-x-16;
  }
  .profile-card__button.button--secondary {
    @apply px-24 py-16 w-full max-w-[9.9688rem];
  }
  .profile-card__button.button--primary {
    @apply px-24 py-16 w-full max-w-[9.9688rem];
  }

  .profile-card__content {
    @apply inline-flex flex-col items-center gap-y-56 text-center bg-white
    my-[3.125rem] mx-auto w-full max-w-[15rem]
    md:mt-[7rem] md:px-56 md:py-[3rem] md:rounded-[1.5rem] md:shadow-menu/10
    md:min-w-[21.875rem];
  }
  .profile-card__identity {
    @apply flex flex-col items-center;
  }
  .profile-card__avatar-wrapper {
    @apply size-[6.5rem] bg-grey-100 rounded-full overflow-hidden;
  }
  .profile-card__avatar {
    @apply w-full h-full object-cover;
  }
  .profile-card__name {
    @apply font-bold text-32 text-grey-900 mt-24;
  }
  .profile-card__email {
    @apply text-grey-500 mt-8;
  }

  .profile-card__links {
    @apply flex flex-col gap-y-24 w-full;
  }
  .profile-card__link {
    @apply rounded-8 flex items-center gap-x-8
    p-16;
  }
}
