@import "tailwindcss";

@theme {
  /* Colors */
  --color-white: hsl(0 100% 100%);
  --color-black: hsl(0 0% 0%);

  --color-grey-950: hsl(0 0% 10%);
  --color-grey-900: hsl(0 0% 20%);
  --color-grey-500: hsl(0 0% 45%);
  --color-grey-200: hsl(0 0% 85%);
  --color-grey-100: hsl(0 0% 93%);
  --color-grey-50: hsl(0 0% 90% / 0.25);

  --color-blue-800: hsl(227 97% 42%);
  --color-blue-500: hsl(223 100% 59%);

  --color-purple-950: hsl(252 50% 27%);
  --color-purple-600: hsl(252 100% 62%);
  --color-purple-300: hsl(252 100% 84%);

  --color-red-550: hsl(0 84% 58%);
  --color-red-500: hsl(0 100% 61%);

  --color-pink-900: hsl(331 68% 32%);
  --color-pink-400: hsl(13 83% 75%);

  --color-orange-600: hsl(29 100% 46%);
  --color-orange-500: hsl(11 83% 53%);

  /* Typography */
  --font-instrument:
    "Instrument Sans", system-ui, -apple-system, "Segoe UI", BlinkMacSystemFont;

  --text-32: 2rem;
  --text-24: 1.5rem;
  --text-18: 1.125rem;
  --text-16: 1rem;
  --text-14: 0.875rem;
  --text-12: 0.75rem;

  --leading-150: 1.5;

  --tracking-0: 0;

  --spacing-0: 0;
  --spacing-8: 0.5rem;
  --spacing-16: 1rem;
  --spacing-24: 1.5rem;
  --spacing-32: 2rem;
  --spacing-40: 2.5rem;
  --spacing-48: 3rem;
  --spacing-56: 3.5rem;
  --spacing-64: 4rem;

  /* Radius */
  --radius-8: 0.5rem;
  --radius-12: 0.75rem;

  /* Shadow */
  --shadow-input: 0 0 32px var(--color-purple-600);
  --shadow-menu: 0 0 32px black;

  /* Breakpoint */
  --breakpoint-md: 48rem;
  --breakpoint-lg: 64rem;
}

body {
  @apply font-instrument bg-grey-50;
}

button {
  @apply cursor-pointer;
}

:focus-visible {
  @apply outline-2 outline-grey-900 outline-offset-2;
}

/* white filter */

@utility white-filter {
  @apply filter-[brightness(0)_saturate(100%)_invert(100%)_sepia(82%)_saturate(0%)_hue-rotate(145deg)_brightness(106%)_contrast(103%)];
}

/* Input autofill reset */
@layer utilities {
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px transparent inset !important;
    -webkit-text-fill-color: var(--color-grey-900) !important;
    transition: background-color 5000s ease-in-out 0s;
  }
}

/* Scrollbar */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(99, 60, 255, 0.8) rgba(229, 231, 235, 0.8);

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: rgba(229, 231, 235, 0.8);
    border-radius: 9999px;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(99, 60, 255, 0.8);
    border-radius: 9999px;
    border: 2px solid rgba(229, 231, 235, 0.8);
  }

  &::-webkit-scrollbar-thumb:hover {
    background: rgba(99, 60, 255, 1);
  }
}

@utility my-transition {
  @apply transition-all duration-200;
}
